* {
    font-family: Arial;
}

body {
    background-color: antiquewhite;
}

h1 {
    /* ink styles */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: olive
}

h3 {
    /* ink styles */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: royalblue
}

header {
    background-image: url("https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80");
    /* spreads accoss page width */
    background-size: cover;
    color:bisque;
}

a:hover{
    /* ink styles */
    color:lightseagreen;
    text-decoration: none;
    /* background of yellow when hovered over */
    background-color: yellow;
}